h1 {
	font-size: 50px;
	font-family: sans-serif;
	text-align: center;
	padding-bottom: 40px;
	font-family: 'Muli';
	color: #2d5986;

}

h2 {
	font-size: 15px;
}

body {
	background-image: url("img/12596773_1278725235477803_1503266871_o.jpg");
	background-size: 100%;
	color: #2d5986;
	font-family: 'Muly';

}

.input-group {
	padding: 5px;
}

.btn-group {
	padding-top: 5px;
	padding-bottom: 40px;
}

.panel {
	padding-top: 10px;
}

.container {
	background-color: white;
	margin-top: 50px;
	border-radius: 50px;
	width: 60%;
}

.date-filter {
	width: 30%;
}

.add-button {
	margin-left: 4px;
}

